body{
    
    font-family: 'Ubuntu', sans-serif;
    background-color: rgb(212, 199, 123);
   
}
.container{
    display: flex;
    margin: 1em;
    align-items:center;
}


.link-1, .link-2, .link-3{
    text-decoration: none;
}
.home-img{
    height: auto;
    width: 70%;
    margin-right: 1em;
    border-radius: 1em;
}
.img-container{
    margin: 0;
    padding: 0;
}
 a img{
    height:auto;
    width: 100%;
    display: flex;
   border-top-right-radius: 0.5em;
   border-top-left-radius: 0.5em;
  
}
.header{
    width: 50%;
    margin:0;
    font-size: 1.2em;
    padding: 2em;
}
.cards-container{
display: flex;
padding:1em;
margin: 2em 11em auto 10em;
}
img{
    width: 50%;
    
}





}
.card-1, .card-2, .card-3 {
    padding:0.5em;
    margin: 2em 1em auto 0;
   transition: 0.2s;
  
}
.card-1:hover{
    box-shadow: 0 3px 10px rgb(46, 53, 52);
}
.card-2:hover{
    box-shadow: 0 3px 10px rgb(46, 53, 52);
}
.card-3:hover{
    box-shadow: 0 3px 10px rgb(46, 53, 52);
}
 a:hover{
    transform: translateY(-10px);
    cursor: pointer;
  
    
}

.card-content{
    border:solid 0.1em;
    border-bottom-right-radius: 0.5em;
    border-bottom-left-radius: 0.5em;
    padding: 1em;
}
a{
    text-decoration: none;
    color: inherit;
}
h3{
    font-size:1.5em;
}
p{
    font-size:1em;
}